/*--------------------------------------------------------------
>>> Color
--------------------------------------------------------------*/

$fontColor: rgba(0, 0, 0, 0.87);
$backColor: #F9F9F9;
$bodyColor: #FCFCFC;
$borderColor: #EEEEEE;
$whiteColor: #FFFFFF;
$footerColor: #26A69A;
$accentColor: #FFBD4A;
$errorColor: #E35259;
$headline1: 24px;
$headline2: 16px;

/*--------------------------------------------------------------
>>> Common
--------------------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:after,
    &:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

html {
    height: 100%;
    body {
        position: relative;
        height: 100%;
        margin: 0;
        background-color: $bodyColor !important;
        .container {
            width: 95%;
        }
        .container2 {
            justify-content: center;
            align-items: center;
            width: 95%;
            min-height: calc(100% - 114px);
        }
        .container3 {
            width: 95% !important;
            max-width: 1280px;
            margin: 0 auto;
        }
    }
}

.page-header {
    height: 64px;
    nav {
        background-color: $whiteColor;
        color: $fontColor;
        a {
            color: $fontColor;
        }
        .brand-logo {
            img {
                display: block;
                width: auto;
                height: 64px;
            }
        }
        .dropdown-content {
            li {
                .logout {
                    height: 50px;
                    padding: 7px 16px;
                    i {
                        line-height: inherit;
                    }
                }
            }
        }
    }
}

.page-footer {
    width: 100%;
    height: 50px;
    padding: 0;
    background-color: $footerColor;
    .footer-copyright {
        padding: 0;
        text-align: center;
        a {
            color: $whiteColor;
        }
    }
}

.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    .col-md-1 {
        -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        width: 8.333333%;
    }
    .col-md-2 {
        -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        width: 16.666667%;
    }
    .col-md-3 {
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        width: 25%;
    }
    .col-md-4 {
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        width: 33.333333%;
    }
    .col-md-6 {
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        width: 50%;
    }
    .col-md-12 {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%;
    }
}

.align-items-center {
    align-items: center;
}

@media screen and (max-width: 992px) {
    .flex {
        .col-2 {
            -webkit-flex: 0 0 16.666667%;
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            width: 16.666667%;
        }
        .col-3 {
            -webkit-flex: 0 0 25%;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            width: 25%;
        }
        .col-4 {
            -webkit-flex: 0 0 33.333333%;
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            width: 33.333333%;
        }
        .col-6 {
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            width: 50%;
        }
        .col-12 {
            -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            width: 100%;
        }
    }
}

@media screen and (max-width: 560px) {
    .page-header {
        height: 48px;
        nav {
            .brand-logo {
                img {
                    display: block;
                    width: auto;
                    height: 48px;
                }
            }
        }
    }
    .flex {
        .col-sm-1 {
            -webkit-flex: 0 0 8.333333%;
            -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
            width: 8.333333%;
        }
        .col-sm-2 {
            -webkit-flex: 0 0 16.666667%;
            -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
            width: 16.666667%;
        }
        .col-sm-3 {
            -webkit-flex: 0 0 25%;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            width: 25%;
        }
        .col-sm-4 {
            -webkit-flex: 0 0 33.333333%;
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            width: 33.333333%;
        }
        .col-sm-6 {
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            width: 50%;
        }
        .col-sm-12 {
            -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            width: 100%;
        }
    }
}


/*--------------------------------------------------------------
>>> Content
--------------------------------------------------------------*/

.content {
    margin: 4em 0;
    padding: 2em;
    border-radius: 10px;
    background-color: $whiteColor;
    .headline1 {
        font-size: $headline1;
    }
    .table {
        margin-bottom: 4em;
    }
    .display-none {
        display: none;
    }
    .search-box {
        justify-content: space-around;
        margin-bottom: 2em;
        padding: 2em;
        background-color: $backColor;
        .col-12 {
            input {
                height: 3rem;
                margin: 0;
                padding: 5px;
                border: 1px solid #f2f2f2;
                border-radius: 2px;
                background-color: $whiteColor;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                &::placeholder {
                    color: $fontColor;
                }
            }
        }
        .col-md-3 {
            padding: 0 5px;
        }
        .search-btn {
            align-self: center;
            text-align: right;
        }
    }
    .table-responsive {
        tbody {
            .row-btn {
                text-align: center;
            }
        }
    }
}

.content-box {
    justify-content: center;
    margin: 0 auto 2em;
}

.page-title {
    width: 100%;
    text-align: center;
    h1 {
        position: relative;
        margin: 2em 0;
        font-size: $headline1;
        &:before {
            content: '';
            position: absolute;
            bottom: -10px;
            left: calc(50% - 30px);
            width: 60px;
            height: 2px;
            border-radius: 3px;
            background: $fontColor;
        }
    }
}

@media screen and (max-width: 992px) {
    .content {
        margin: 2em 0;
        padding: 1em;
        .search-box {
            flex-wrap: wrap;
            padding: 1em;
            .search-btn {
                margin-top: 10px;
                text-align: center;
            }
        }
        .table-responsive {
            thead {
                display: none;
            }
            tbody {
                td {
                    display: block;
                    width: 100%;
                    padding: 5px 5px;
                    &:before {
                        content: attr(data-title);
                    }
                }
                .row-title {
                    padding: 15px 5px;
                    background-color: $backColor;
                }
                .row-btn {
                    text-align: right;
                }
                .half {
                    display: inline-block;
                    width: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .content {
        margin: 2em 0;
        padding: 1em .5em;
    }
}


/*--------------------------------------------------------------
>>> Report
--------------------------------------------------------------*/

.report {
    input:disabled {
        color: $fontColor !important;
    }
    pre {
        white-space: pre-wrap;
    }
    .report-h1 {
        margin-top: 2em;
        font-size: $headline1;
        font-weight: bold;
        line-height: 1;
    }
    .report-h2 {
        padding: 1em;
        border-left: 5px dashed $accentColor;
        background-color: $backColor;
        font-size: $headline2;
        font-weight: bold;
        line-height: 1;
    }
    .report-type-box {
        justify-content: space-around;
        margin-bottom: 2em;
        padding: .5em;
        background-color: $backColor;
        p {
            margin: 0 0 0 1em;
            font-size: .85em;
            a {
                text-decoration: underline;
            }
        }
    }
    .report-type-block {
        display: block;
    }
    .report-type-none {
        display: none;
    }
    .report-table {
        tbody {
            .flex {
                flex-wrap: wrap;
                width: 100%;
                .row {
                    margin-bottom: 0;
                    .s2 {
                        margin-top: 15px;
                    }
                }
            }
            .js-time-picker {
                cursor: pointer;
            }
        }
    }
    .report-images {
        width: 100%;
        margin: 1em 0;
        line-height: 1;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .report-image-list {
        li {
            padding: .5em 1em;
            background-color: $backColor;
            button {
                margin-left: 2em;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .report {
        font-size: .95em;
        input,
        textarea {
            &::placeholder {
                font-size: .95em;
            }
        }
        .report-table {
            thead {
                display: none;
            }
            tbody {
                .flex {
                    flex-wrap: wrap;
                    width: 100%;
                    .row {
                        margin-bottom: 0;
                        .s2 {
                            margin-top: 15px;
                        }
                    }
                    .col-12 {
                        padding: 5px 5px;
                    }
                    .col-6 {
                        padding: 5px 5px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .report {
        font-size: .9em;
        input,
        textarea {
            &::placeholder {
                font-size: .9em;
            }
        }
        .input-field {
            input,
            textarea {
                min-height: 3em;
            }
        }
    }
}


/*--------------------------------------------------------------
>>> Dashboard
--------------------------------------------------------------*/

#dashboard {
    width: 90%;
    max-width: 1180px;
    margin: 4em auto;
}


/*--------------------------------------------------------------
>>> Login
--------------------------------------------------------------*/

#login {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .login-inner {
        width: 100%;
        max-width: 380px;
        padding: 2em;
        background-color: $whiteColor;
        .login-title {
            margin: 1em 0;
            font-size: 24px;
            text-align: center;
        }
        .login-error {
            height: 24px;
            color: $errorColor;
            font-size: 10pt;
        }
        .login-form {
            button {
                display: block;
                width: 100%;
                height: 48px;
                margin-top: 2em;
                padding: .5em 0;
            }
        }
    }
}

@media screen and (max-width: 560px) {
    #login {
        .login-inner {
            width: calc(100% - 2em);
            padding: 1em;
            .login-title {
                margin: 1em 0;
                font-size: 16px;
            }
            .login-form {
                input {
                    font-size: .95em;
                }
                button {
                    display: block;
                    width: 100%;
                    height: 36px;
                    margin-top: 1em;
                    padding: 0;
                }
            }
        }
    }
}