/*--------------------------------------------------------------
>>> Color
--------------------------------------------------------------*/
/*--------------------------------------------------------------
>>> Common
--------------------------------------------------------------*/
* {
  box-sizing: border-box;
}
*:after, *:before {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

html {
  height: 100%;
}
html body {
  position: relative;
  height: 100%;
  margin: 0;
  background-color: #FCFCFC !important;
}
html body .container {
  width: 95%;
}
html body .container2 {
  justify-content: center;
  align-items: center;
  width: 95%;
  min-height: calc(100% - 114px);
  margin: 0 auto;
}
html body .container3 {
  width: 95% !important;
  max-width: 1280px;
  margin: 0 auto;
}

.page-header {
  height: 64px;
}
.page-header nav {
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);
}
.page-header nav a {
  color: rgba(0, 0, 0, 0.87);
}
.page-header nav .brand-logo img {
  display: block;
  width: auto;
  height: 64px;
}
.page-header nav .dropdown-content li .logout {
  height: 50px;
  padding: 7px 16px;
}
.page-header nav .dropdown-content li .logout i {
  line-height: inherit;
}

.page-footer {
  width: 100%;
  height: 50px;
  padding: 0;
  background-color: #26A69A;
}
.page-footer .footer-copyright {
  padding: 0;
  text-align: center;
}
.page-footer .footer-copyright a {
  color: #FFFFFF;
}

.flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.flex .col-md-1 {
  flex: 0 0 8.333333%;
  width: 8.333333%;
}
.flex .col-md-2 {
  flex: 0 0 16.666667%;
  width: 16.666667%;
}
.flex .col-md-3 {
  flex: 0 0 25%;
  width: 25%;
}
.flex .col-md-4 {
  flex: 0 0 33.333333%;
  width: 33.333333%;
}
.flex .col-md-5 {
  flex: 0 0 41.666667%;
  width: 41.666667%;
}
.flex .col-md-6 {
  flex: 0 0 50%;
  width: 50%;
}
.flex .col-md-9 {
  flex: 0 0 75%;
  width: 75%;
}
.flex .col-md-12 {
  flex: 0 0 100%;
  width: 100%;
}

.align-items-center {
  align-items: center;
}

@media screen and (max-width: 992px) {
  .flex .col-2 {
    flex: 0 0 16.666667%;
    width: 16.666667%;
  }
  .flex .col-3 {
    flex: 0 0 25%;
    width: 25%;
  }
  .flex .col-4 {
    flex: 0 0 33.333333%;
    width: 33.333333%;
  }
  .flex .col-6 {
    flex: 0 0 50%;
    width: 50%;
  }
  .flex .col-12 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  .page-header {
    height: 48px;
  }
  .page-header nav .brand-logo img {
    display: block;
    width: auto;
    height: 48px;
  }

  .flex .col-sm-1 {
    flex: 0 0 8.333333%;
    width: 8.333333%;
  }
  .flex .col-sm-2 {
    flex: 0 0 16.666667%;
    width: 16.666667%;
  }
  .flex .col-sm-3 {
    flex: 0 0 25%;
    width: 25%;
  }
  .flex .col-sm-4 {
    flex: 0 0 33.333333%;
    width: 33.333333%;
  }
  .flex .col-sm-6 {
    flex: 0 0 50%;
    width: 50%;
  }
  .flex .col-sm-12 {
    flex: 0 0 100%;
    width: 100%;
  }
}
/*--------------------------------------------------------------
>>> Content
--------------------------------------------------------------*/
.content {
  margin: 4em 0;
  padding: 2em;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.content .headline1 {
  font-size: 24px;
}
.content .table {
  margin-bottom: 4em;
}
.content .display-none {
  display: none;
}
.content .search-box {
  justify-content: space-around;
  margin-bottom: 2em;
  padding: 2em;
  background-color: #F9F9F9;
}
.content .search-box .row .col {
  padding: 0;
}
.content .search-box .row span {
  margin-top: 10px;
}
.content .search-box .col-12 input {
  height: 3rem;
  margin: 0;
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-sizing: border-box;
}
.content .search-box .col-12 input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.87);
}
.content .search-box .col-12 input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.87);
}
.content .search-box .col-12 input::placeholder {
  color: rgba(0, 0, 0, 0.87);
}
.content .search-box .col-md-3 {
  padding: 0 5px;
}
.content .search-box .search-btn {
  align-self: center;
  text-align: right;
}
.content .table-responsive tbody .row-btn {
  text-align: center;
}
.content .row .col .input-field .tooltip i {
  margin-left: 0.25em;
  font-size: 1.15em;
  vertical-align: -4px;
}

.content-box {
  justify-content: center;
  margin: 0 auto 2em;
}

.page-title {
  width: 100%;
  text-align: center;
}
.page-title h1 {
  position: relative;
  margin: 2em 0;
  font-size: 24px;
}
.page-title h1:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 2px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.87);
}

@media screen and (max-width: 992px) {
  .content {
    margin: 2em 0;
    padding: 1em;
  }
  .content .search-box {
    flex-wrap: wrap;
    padding: 1em;
  }
  .content .search-box .search-btn {
    margin-top: 10px;
    text-align: center;
  }
  .content .table-responsive thead {
    display: none;
  }
  .content .table-responsive tbody td {
    display: block;
    width: 100%;
    padding: 5px 5px;
  }
  .content .table-responsive tbody td:before {
    content: attr(data-title);
  }
  .content .table-responsive tbody .row-title {
    padding: 15px 5px;
    background-color: #F9F9F9;
  }
  .content .table-responsive tbody .row-btn {
    text-align: right;
  }
  .content .table-responsive tbody .half {
    display: inline-block;
    width: 50%;
  }
}
@media screen and (max-width: 560px) {
  .content {
    margin: 2em 0;
    padding: 1em 0.5em;
  }
}
/*--------------------------------------------------------------
>>> Report
--------------------------------------------------------------*/
.report input:disabled {
  color: rgba(0, 0, 0, 0.87) !important;
}
.report .report-h1 {
  margin-top: 2em;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}
.report .report-h2 {
  padding: 1em;
  border-left: 5px dashed #FFBD4A;
  background-color: #F9F9F9;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}
.report .report-type-box {
  justify-content: space-around;
  margin-bottom: 2em;
  padding: 0.5em;
  background-color: #F9F9F9;
}
.report .report-type-box p {
  margin: 0 0 0 1em;
  font-size: 0.85em;
}
.report .report-type-box p a {
  text-decoration: underline;
}
.report .report-type-block {
  display: block;
}
.report .report-type-none {
  display: none;
}
.report .report-text {
  white-space: pre-wrap;
}
.report .report-table thead .flex {
  flex-wrap: wrap;
}
.report .report-table tbody .flex {
  flex-wrap: wrap;
  width: 100%;
}
.report .report-table tbody .flex .row {
  margin-bottom: 0;
}
.report .report-table tbody .flex .row .col {
  padding: 0;
}
.report .report-table tbody .flex .row .s5 input[type=time]::-webkit-calendar-picker-indicator {
  background: none;
}
.report .report-table tbody .flex .row .s2 {
  margin-top: 15px;
  text-align: center;
}
.report .report-table tbody .js-time-picker {
  cursor: pointer;
}
.report .report-table tbody .deleteItem {
  margin-top: 8px;
  border: none;
  background: transparent;
}
.report .report-table tbody .deleteItem i {
  font-weight: bold;
}
.report .report-table .show-table td {
  white-space: pre-wrap;
}
.report .report-images {
  width: 100%;
  margin: 1em 0;
  line-height: 1;
}
.report .report-images img {
  max-width: 100%;
  height: auto;
}
.report .report-image-list li {
  padding: 0.5em 1em;
  background-color: #F9F9F9;
}
.report .report-image-list li button {
  margin-left: 2em;
}

.weekly .report-h1 {
  margin-top: 2em;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}
.weekly .report-h2 {
  padding: 1em;
  border-left: 5px dashed #FFBD4A;
  background-color: #F9F9F9;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}
.weekly .weekly-table {
  border-collapse: collapse;
  border: 1px solid #EEEEEE;
}
.weekly .weekly-table thead {
  background-color: #F9F9F9;
}
.weekly .weekly-table thead th {
  border-right: 1px solid #EEEEEE;
}
.weekly .weekly-table thead th:last-of-type {
  border-right: none;
}
.weekly .weekly-table thead th.w10 {
  width: 10%;
  text-align: center;
}
.weekly .weekly-table thead th.w40 {
  width: 40%;
}
.weekly .weekly-table thead th.w70 {
  width: 70%;
}
.weekly .weekly-table tbody td {
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.weekly .weekly-table tbody td.w10 {
  width: 10%;
  text-align: center;
}
.weekly .weekly-table tbody td.w40 {
  width: 40%;
}
.weekly .weekly-table tbody td.w70 {
  width: 70%;
}
.weekly .weekly-table tbody td.memo {
  padding: 5px 5px;
  white-space: pre-line;
  vertical-align: top;
}

.select-date {
  max-width: 800px;
  margin: 4em auto;
}

@media screen and (max-width: 992px) {
  .report {
    font-size: 0.95em;
  }
  .report input::-moz-placeholder, .report textarea::-moz-placeholder {
    font-size: 0.95em;
  }
  .report input:-ms-input-placeholder, .report textarea:-ms-input-placeholder {
    font-size: 0.95em;
  }
  .report input::placeholder,
.report textarea::placeholder {
    font-size: 0.95em;
  }
  .report .report-table thead {
    display: none;
  }
  .report .report-table tbody .flex {
    flex-wrap: wrap;
    width: 100%;
  }
  .report .report-table tbody .flex .row {
    margin-bottom: 0;
  }
  .report .report-table tbody .flex .row .s2 {
    margin-top: 15px;
  }
  .report .report-table tbody .flex .col-12 {
    padding: 5px 5px;
  }
  .report .report-table tbody .flex .col-6 {
    padding: 5px 5px;
  }
  .report .report-table tbody .flex .col-4 {
    padding: 5px 5px;
  }
  .report .report-table tbody .flex .col-2 {
    padding: 5px 5px;
  }
  .report .report-table tbody .deleteItem {
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  .report {
    font-size: 0.9em;
  }
  .report input::-moz-placeholder, .report textarea::-moz-placeholder {
    font-size: 0.9em;
  }
  .report input:-ms-input-placeholder, .report textarea:-ms-input-placeholder {
    font-size: 0.9em;
  }
  .report input::placeholder,
.report textarea::placeholder {
    font-size: 0.9em;
  }
  .report .input-field input,
.report .input-field textarea {
    min-height: 3em;
  }
}
/*--------------------------------------------------------------
>>> Dashboard
--------------------------------------------------------------*/
#dashboard {
  width: 90%;
  max-width: 1180px;
  margin: 4em auto;
}

/*--------------------------------------------------------------
>>> Login
--------------------------------------------------------------*/
#login {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#login .login-inner {
  width: 100%;
  max-width: 380px;
  padding: 2em;
  background-color: #FFFFFF;
}
#login .login-inner .login-title {
  margin: 1em 0;
  font-size: 24px;
  text-align: center;
}
#login .login-inner .login-error {
  height: 24px;
  color: #E35259;
  font-size: 10pt;
}
#login .login-inner .login-form button {
  display: block;
  width: 100%;
  height: 48px;
  margin-top: 2em;
  padding: 0.5em 0;
}
#login .login-inner .login-form .forgot {
  margin-top: 1em;
  font-size: 0.85em;
  text-align: center;
}
#login .login-inner .login-form .forgot:hover {
  text-decoration: underline;
}

@media screen and (max-width: 560px) {
  #login .login-inner {
    width: calc(100% - 2em);
    padding: 1em;
  }
  #login .login-inner .login-title {
    margin: 1em 0;
    font-size: 16px;
  }
  #login .login-inner .login-form input {
    font-size: 0.95em;
  }
  #login .login-inner .login-form button {
    display: block;
    width: 100%;
    height: 36px;
    margin-top: 1em;
    padding: 0;
  }
}
